<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta http-equiv="content-type" content='text/html; charset=utf-8'>
    <title>Index</title>
    <style>
      h1{
        font-size: 60pt;
        color: #eee;
        text-align: right;
        margin: 0px;
      }
    </style>
  </head>
  <body>
    <header>
      <h1>index</h1>
    </header>
    <div role="main">

    </div>
    <p>this is index page.</p>
    <p>これはEJSを使ったWebページです</p>
  </body>
</html>
