<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta http-equiv="content-type" content='text/html; charset=utf-8'>
    <link rel="stylesheet" href="./2-14.css" type="text/css">
    <title><%= title %></title>
    <style>

    </style>
  </head>
  <body>
    <header>
      <h1><%= title %></h1>
    </header>
    <div role="main">

    </div>
    <p><%= content %></p>
  </body>
</html>
