<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta http-equiv="content-type" content='text/html; charset=utf-8'>
    <link rel="stylesheet" href="./3-5.css" type="text/css">
    <title><%= title %></title>
    <style>

    </style>
  </head>
  <body>
    <header>
      <h1><%= title %></h1>
    </header>
    <div role="main">
        <p><%= content %></p>
        <p>
          <table>
            <% for(var key in data){ %>
              <%- include('3-7',{key:key,val:[data[key]]}) %>
            <% } %>
          </table>
        </p>
    </div>

  </body>
</html>
