<!DOCTYPE html>
<html lang="ja" dir="ltr">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>ミニ掲示板</title>
    <link rel="stylesheet" href="./3-5.css">
    <script type="text/javascript">
      function init() {
        var id = localStorage.getItem('id');
        if (id == null) {
          location.href='./login';
        }
        document.querySelector('#id').textContent='ID:'+id;
        document.querySelector('#id_input').value=id;
      }
    </script>
  </head>
  <body onload="init()">
    <header>
      <h1>掲示板</h1>
    </header>
    <div role="main">
      <p>※メッセージは最大10個まで保管されます。</p>
      <form action="/" method="post">
        <p>
          <span id="id"></span>
          <input type="hidden" name="id" id="id_input" value="">
        </p>
        <p>
          <input type="text" name="msg" value="">
        </p>
        <input type="submit" value="送信">
      </form>
      <hr>
      <p>
        <table style="width:85%;">
          <% for(var i in data){ %>
            <%- include('3-18',{val:data[i]}) %>
          <% } %>
        </table>
      </p>
    </div>
  </body>
</html>
